/* admin layout */
.adminlayout{
    margin: 100px 134px;
    display: flex;
    gap: 10px;
}
.admin-main{
    width: 100%;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25),
                -4px -4px 4px rgba(0, 0, 0, 0.25);

}
/* admin navigation */
.adminNavigation{
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: 85vh;
    width: 200px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25),
                -4px -4px 4px rgba(0, 0, 0, 0.25);
}
.admin-icon-details{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}
.admin-icon-details p{
    font-weight: 700;
}
.Admin-icon{
    width: 50px;
    height: 50px;
}
.adminNavigation-list-wrappre{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.adminNavigation-list{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}
.adminNavigation-list{
    list-style: none;
    font-weight: 600;
}
.nav-active{
    color: var(--tr-SC);
}
.nav-inactive{
    color: var(--tr-BL);
}
.adminNavigation-button{
    padding: 10px 20px;
    color: var(--tr-WH);
    background-color: var(--tr-SC);
    border: none;
    cursor: pointer;
}
@media (max-width: 1024px) {
    /* admin layout */
    .adminlayout{
    margin: 100px 50px;
    }
}
@media (max-width: 820px) {
    /* admin layout */
    .adminlayout{
        margin: 100px 10px;
    }
}